* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 4px 6px 40px rgba(0, 0, 0, 0.1);
  
}
.nav-container {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-text {
  font-family: helvetica;
  color: dodgerblue;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5px;
  
}

.tagline {
  font-family: helvetica;
  font-size: 8px;
  padding-left: 8px;
  color: rgb(105, 103, 103);

}

.signin-btn {
  margin-left: auto;
  width: 60px;
  color: dodgerblue;
  background: white;
  border: 1px solid dodgerblue;
  border-radius: 20px;
  font-size: 12px;
  padding: 4px 0;
  border-color: dodgerblue;
  cursor: pointer;
}
.signin-btn:hover {
  color: white;
  background-color: dodgerblue;
  transition: color, background-color 0.15s ease;
}







.chat-container {
  font-family: helvetica;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  background: #f1f4f6;
}

.messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

.ai-message {
  max-width: 50%;
  font-family: helvetica;
  color: #333;
  background: #efeff3;
  padding: 10px 14px;
  border-radius: 12px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.actions-btn {
  display: flex;
  gap: 10px;
  padding: 12px 16px;

}

.actions-btn button {
  background-color: #eeeef5;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
}

.user-message {
  max-width: 70%;
  background: dodgerblue;
  color: white;
  padding: 10px 14px;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-left: auto;
  font-size: 14px;
}


.sub-markdown select{
  background: white;
  border: none;
  color: #333;
  background: #efeff3
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.01);
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  box-sizing: border-box;
}

.sub-markdown button{
  color: #333;
  background: #efeff3;
  background-color: #a0b2c7;
  white-space: nowrap;
}




















.footer {
  display: flex;
  padding: 12px;
  background: #f1f4f6;
}

.footer input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.03);
  border: none;
  outline: none; 
}

.footer button {
  margin-left: 8px;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  background: dodgerblue;
  color: white;
  cursor: pointer;
}

.footer button:hover {
  background-color: rgb(14, 127, 240);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.05);
}




